[Desktop Entry]
Version=1.0
Type=Application
Name=goose
Comment=Sesion de goose en una terminal
Exec=/usr/local/bin/devbox-goose
Icon=/usr/share/icons/goose.png
Terminal=false
Categories=Development;Utility;
